<h1>All tags</h1>

<p>
	<ul id="tags">
		<% @tags.each do |tag| %>
			<li><%= link_to tag.name, tag_path(tag)%>. <%=link_to "Destroy", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %></li>
		<% end %>
	</ul>
</p>